<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="author" content="Woodstock">
    <meta name="description" content="Mon site parle de préparation d'un mariage">
    <meta name="keywords" content="html, css, tags, balises">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <title>
        NUTSI
    </title>
</head>

<body>
<header class="wallpaperHeader">
    <div class="colorHeader" id="retour">
        <div class="displayAround">
        <a href="#acc">Accueil</a>
        <a href="#gal">Galerie</a>
        <a href="#presta">Prestation</a>
        <a href="#cont">Contactez-moi</a>
        <a href="{{ path('fos_user_security_login') }}">Connect</a>
        </div>

        <div class="container-fluid">

        <img class="logoHeader" src="{{ asset('img/logo.png') }}" alt="logo">
            <p class="firstP">Le <strong class="strongRose">wedding planner </strong>est une aide précieuse
                pour les futurs mariés.<br>
                La robe, le coiffeur, le maquillage...<br>
                Choix du lieu, choix des prestataires, préparation de la salle, accueil des invités,
                le <strong class="strongRose">wedding planner</strong> planifie cette journée minute par minute.
                Il ou elle s'organise avec les divers prestataires, DJ, traiteur, fleuriste, animations,
                etc...<br>
                De la conception à la finalisation le <strong class="strongRose">wedding planner </strong> est présent sur tous
                les postes.<br>
                Il ou elle n'est pas attaché(e) à une marque en particulier.
                Alors moi je suis prête à vous aider dans votre préparation de mariage, en suivant vos idées
                et vos valeurs.<br>
                Aujourd'hui de plus en plus de prétendants inventent leur propre mise en scène,<br> alors pourquoi pas vous !.

            </p>
        </div></div>

</header>