<!DOCTYPE html>

<title>New GaleriePhotos</title>

{% block body %}
    <h1>Create new GaleriePhotos</h1>

    {{ include('galerie_photos/_form.html.twig') }}

    <a href="{{ path('galerie_photos_index') }}">Revenir à la liste</a>
{% endblock %}
