{% extends 'commun/base.html.twig' %}

{% block content %}

<section class="blockContact">

    <div class="displayAround">
    <h1>Contactez-moi</h1>
    </div>
    <section class="form">
        {{ form(contactFormView) }}

{% endblock %}