{% extends 'commun/base.html.twig' %}
{% block content %}

<section class="location">

    <div class="container-fluid">
        <div class="row  m-4 align-items-center">
            <h3>Location décorations :</h3>
            <p>Verrerie &amp; Chandelier - Objet décoratif - Mobilier de décoration - Plafond mousseline &amp; lycra
                Guirlande lumineuse &amp; Led
                Housse de chaise &amp; Noeud - Chemin de table - Structure design...</p>
            <h3>Location de salle "La Référence" :</h3>
               <p> Week-end de Mai à fin Octobre du Vendredi 18h au dimanche 18h - 3600 €
            Week-end de Novembre à fin Avril du Vendredi 18h au dimanche 18h - 2800 €</p>
        </div>
    </div>
</section>
{% endblock %}